<!-- 
<div class="form-group">
    <label for="tags">Tags</label>
    <input #newTag type="text" class="form-control" name="text" placeholder="Tag" id="tags" (keyup.enter)="addTag(newTag.value); newTag.value='';">
    <p class="help-block">Hit 'Enter' to add a tag.</p>
</div>
-->
<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            <label for="tags">Tags</label>
            <select class="form-control" id="tags" multiple>
                <option 
                    *ngFor="let tagFromServer of availableTags; let i = index;" 
                    value="{{tagFromServer.tag}}"
                    (dblclick)="addTag(tagFromServer.tag)">
                    {{tagFromServer.tag}}
                </option>
            </select>
        </div>
    </div>

    <div class="col-sm-9" [hidden]="selectedTags.length === 0">
        <label>Selected Tags</label>
        <div class="tag-list">
            <span class="tag" *ngFor="let tag of selectedTags; let i = index;">
                {{tag}} 
                <a class="btn btn-sm" (click)="removeTag(tag)">
                    <i class="glyphicon glyphicon-remove-circle"></i>
                </a>
            </span>
        </div>
    </div>
</div>