<h2>Form One</h2>
<div class="row">
    <div class="col-sm-12">
        <form 
            [formGroup]="myForm"
            (ngSubmit)="onSubmit(myForm.value)">
            <div class="form-group">
                <label for="skuInput">SKU</label>
                <input 
                    type="text"
                    class="form-control"
                    id="skuInput" 
                    placeholder="SKU"
                    [formControl]="sku">
                <div *ngIf="!sku.valid && sku.touched" class="error">
                    <div *ngIf="sku.hasError('required') && sku.touched" class="error">SKU is invalid</div>
                    <div *ngIf="sku.hasError('invalidSku') && sku.touched" class="error">SKU must begin with <tt>123</tt></div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>