<h2>Answers</h2>



<div class="row">
    <div class="col-sm-4">
        <div class="answer-template">
            <h3>Create Answer</h3>
            <div class="form-group">
                <textarea #newAnswer class="form-control" id="answer"></textarea>
            </div>
            <div class="row">
                <div class="col-sm-12">
                <a class="btn btn-default" (click)="createAnswer(newAnswer.value, false); newAnswer.value=''">Add answer</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-8">
        <h3>Possible Answers</h3>
        <div *ngIf="!allAnswers.length">
            <span>Enter at least one possible answer.</span>
        </div>
        <div class="individual-answers-container" *ngIf="allAnswers.length">
            <div class="individual-answer" *ngFor="let answer of allAnswers; let i = index">
                <div class="form-group">
                    <h4>Answer {{i + 1}}</h4>
                        <label [attr.for]="'preferredAnswer' + i">
                            <input 
                                (change)="updatePreferred(i)"
                                type="radio" 
                                name="isPreferred" 
                                [attr.id]="'preferredAnswer'+i"> Preferred Answer
                        </label>
                    <textarea #test (blur)="updateArrayText(i, test.value)" value="{{answer.answerValue}}" class="form-control"></textarea>
                </div>
                <p class="actions pull-right">
                    <a (click)="removeAnswer(i)"><i class="glyphicon glyphicon-trash"></i> Remove Answer</a>
                </p>
            </div>
        </div>
    </div>

    
</div>





