 <div class="row">
    <div class="col-sm-12">
        <h2>{{ pageTitle }}</h2>
    </div>
</div>

<confirmation 
    *ngIf="showConfirmation" 
    (manageUserInteration)="canDeleteContent($event);">
</confirmation>

<form [formGroup]="questionForm" (ngSubmit)="onSubmit(questionForm.value)" novalidate>

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <input 
                    type="hidden" 
                    class="form-control"
                    id="createdAt"
                    formControlName="createdAt"
                    ngModel="{{ dateCreated }}"
                    disabled>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                <label for="questionText">Question</label>
                <textarea 
                    class="form-control"
                    placeholder="Enter a question" 
                    id="questionText"
                    formControlName="text"
                    required></textarea>
            </div>
            
            <div *ngIf="questionForm.controls['text'].touched && questionForm.controls['text'].errors || 
                        questionForm.controls['text'].errors && clickedSubmit"
                class="alert alert-danger">
                Question is required.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="technology">Technology</label>
                <input 
                    type="text"
                    class="form-control"
                    placeholder="Examples: JavaScript, Angular or .NET, etc." 
                    id="technology"
                    formControlName="tech"
                    required>
            </div>
            <div *ngIf="questionForm.controls.tech.touched && questionForm.controls.tech.errors || 
                        questionForm.controls.tech.errors && clickedSubmit"
                class="alert alert-danger">
                Technology is required.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="questionLevel">Level</label>
                <select
                    class="form-control"
                    id="questionLevel"
                    formControlName="level"
                    required>
                        <option *ngFor="let level of levels" value="{{level}}">{{level}}</option>
                </select>
            </div>
            <div *ngIf="questionForm.controls.level.touched && questionForm.controls.level.errors || 
                        questionForm.controls.level.errors && clickedSubmit"
                class="alert alert-danger">
                Level is required.
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <tags 
                [allTagsArray]="tags"
                (selectedTagsChange)="manageSelectedTags($event)">
            </tags>
            <input 
                type="hidden"
                class="form-control"
                [ngModel]="tags"
                id="questionTags"
                formControlName="tags">
                 <div *ngIf="enteredTags.length == 0 && clickedSubmit" 
                    class="alert alert-danger">
                    You must select at least one tag.
                </div>
        </div>
       
    </div>

    <div class="row">
        <div class="col-sm-9">
            <answers
                [allAnswersArray]="answers"
                (allAnswersArrayChange)="manageAnswersArray($event)">
            </answers>
            <input 
                type="hidden" 
                formControlName="answers" 
                [ngModel]="answers">
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <input type="reset" value="Clear" class="btn btn-default btn-lg">
            <button type="button" class="btn btn-default btn-lg" *ngIf="id" (click)="deleteItem();">Delete Question</button>
            <input type="submit" value="{{buttonTitle}}" class="btn btn-primary btn-lg">
        </div>
    </div>

</form>