<h2>Form One</h2>
<div class="row">
    <div class="col-sm-12">
        <form 
            [formGroup]="myForm"
            (ngSubmit)="onSubmit(f.value)">
            <div class="form-group">
                <label for="skuInput">SKU</label>
                <input 
                    type="text"
                    class="form-control"
                    id="skuInput" 
                    placeholder="SKU"
                    [formControl]="myForm.controls['sku']">
                <div *ngIf="!myForm.controls['sku'].valid && myForm.controls['sku'].touched" class="error">SKU is invalid</div>
                <div *ngIf="myForm.controls['sku'].hasError('required') && myForm.controls['sku'].touched" class="error">SKU is invalid</div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>