<h2>Possible Answers</h2>
<div class="row">
    <div class="col-sm-12">
        <div class="individual-answers-container">
            <div class="individual-answer" *ngFor="let answer of allAnswersArray; let i = index">
                <div class="form-group">
                    <h4>Answer {{i + 1}}</h4>
                        <label [attr.for]="'preferredAnswer' + i">
                            <input 
                                (change)="updatePreferred(i)"
                                type="radio" 
                                name="isPreferred"
                                [checked]="answer.preferred"
                                [attr.id]="'preferredAnswer'+i"> Preferred Answer
                        </label>
                    <textarea #textarea (blur)="updateArrayText(i, textarea.value)" value="{{answer.text}}" class="form-control"></textarea>
                </div>
                <p class="actions pull-right" [hidden]="allAnswersArray.length == 1">
                    <a (click)="removeAnswer(i)"><i class="glyphicon glyphicon-trash"></i> Remove Answer</a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <a (click)="createAnswer()">+ Add Another Answer</a>
    </div>
</div>