<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">
            {{pageTitle}}
            <button 
                type="text"
                [routerLink]="['/question']"
                class="btn btn-primary pull-right">
                Create New Question</button>
        </h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <search 
            [searchType]="searchName"
            (searchingEvent)="manageSearchEvent($event)">
            </search>
        </div>
    </div>

    <confirmation 
        *ngIf="showConfirmation" 
        (manageUserInteration)="canDeleteContent($event);">
    </confirmation>

    <div *ngIf="noResults">
        <div class="col-sm-12">
            <h2>No questions found.</h2>
            <button class="btn btn-primary" 
                [routerLink]="['/question']">Create New Question
            </button>
        </div>
    </div>

    <div *ngIf="!noResults">
        <div class="col-sm-12">

            <h2>{{pageSubTitle}}</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Tags</th>
                        <th>Level</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let question of questions">
                        <td>{{question.text}}</td>
                        <td>
                            <ul>
                                <li *ngFor="let tag of question.tags">{{tag}}</li>
                            </ul>
                        </td>
                        <td>{{question.level}}</td>
                        <td width="13%">
                            <div class="btn-group">
                                <button class="btn btn-primary btn-sm pull-left" [routerLink]="['/question', question._id]">Edit</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>