<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <search-questions 
            (searchingEventChange)="manageQuestionSearchEvent($event)">
            </search-questions>
        </div>
    </div>

    <confirmation 
        *ngIf="showConfirmation" 
        (manageUserInteration)="canDeleteContent($event);">
    </confirmation>

    <div *ngIf="!isSearching">
        <div class="col-sm-12">

            <h2>All Available Questions</h2>

            <table class="table">
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Answer</th>
                        <th>Tags</th>
                        <th>Level</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let question of questions"  [routerLink]="['/question', question._id]">
                        <td>{{question.text}}</td>
                        <td>
                            <ul>
                                <li *ngFor="let answer of question.answers">{{answer.text}}</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li *ngFor="let tag of question.tags">{{tag}}</li>
                            </ul>
                        </td>
                        <td>{{question.level}}</td>
                        <td width="13%">
                            <div class="btn-group">
                                <button class="btn btn-primary btn-sm pull-left">Add to Template</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>