<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-pills">
            <li [class.active]="viewMode === 'questions'"><a (click)="viewMode='questions'">Questions</a></li>
            <li [class.active]="viewMode === 'create-question'"><a (click)="viewMode='create-question'">Create Question</a></li>
        </ul>

        <div [ngSwitch]="viewMode">
            <template [ngSwitchCase]="'questions'" ngSwitchDefault>
                
                <div class="row">
                    <div class="col-sm-12">
                        <question-list></question-list>
                    </div>
                </div>
            </template>

            <template [ngSwitchCase]="'create-question'">
                <div class="row">
                    <div class="col-sm-12">
                        <create-question></create-question>
                    </div>
                </div>
            </template>
        </div>

    </div>
</div>