<div class="row">
    <div class="col-sm-12">
        <ul class="nav nav-pills">
            <li [class.active]="viewMode === 'question-list'"><a (click)="viewMode='question-list'">Questions</a></li>
            <li [class.active]="viewMode === 'question'"><a (click)="viewMode='question'">Create Question</a></li>
            <li [class.active]="viewMode === 'playground'"><a (click)="viewMode='playground'">Playground</a></li>
        </ul>

        <div [ngSwitch]="viewMode">
            <template [ngSwitchCase]="'question-list'">
                
                <div class="row">
                    <div class="col-sm-12">
                        <question-list></question-list>
                    </div>
                </div>
            </template>

            <template [ngSwitchCase]="'question'" ngSwitchDefault>
                <div class="row">
                    <div class="col-sm-12">
                        <question></question>
                    </div>
                </div>
            </template>

            <template [ngSwitchCase]="'playground'" ngSwitchDefault>
                <div class="row">
                    <div class="col-sm-12">
                        <playground></playground>
                    </div>
                </div>
            </template>

        </div>

    </div>
</div>